.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%; /* Un peu plus large pour le mouvement */
  height: 110%; /* Un peu plus haute */
  background: url('vancouver-skyline.jpg') no-repeat center center/cover;
  z-index: 1;
  will-change: transform; /* Optimisation pour le processeur graphique */
}

.overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, var(--background) 100%);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 2;
  /* max-width: 900px; */
  /* padding: 0 20px; */
}

hr {
  opacity: 0.2;
}

.main-title {
  font-size: clamp(4rem, 8vw, 6rem); /* Taille adaptative */
  font-weight: 900;
  max-width: 800px;
  letter-spacing: 0.15em;
  margin: 20px 0;
  text-transform: uppercase;
}

.hero-name {
  font-size: clamp(3rem, 5vw, 6rem);
  opacity: 0.8;
  font-family: "Libre Barcode 128 Text", system-ui;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.9;
  margin: 0 20px;
}

.location-tag {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  font-weight: 500;
}

.scroll-indicator {
  margin: 50px calc(50% - 25px);
  border: 1px solid white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 20px;
  padding-bottom: 5px;
  opacity: 0.75;
  font-weight: bolder;
  user-select: none;
  animation: popdown 2s infinite 2s;
}

@keyframes popdown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}